body{
    background-image: url(diagmonds/diagmonds.png);
}
.navbar{
   justify-content: flex-start;
   font-family: Courier New, monospace;
   font-weight: bold;
    align-items: center;
}
.navbar-brand{
    padding:10px;
}

.content{
    margin-top:30px;
    margin-bottom:30px;
    background-color: #307986;
    padding:40px;
    width:100%;
    color:white;
    font-family: Courier New, monospace;
    border-radius: 12%;
}
button{
    color:white;
    background-color:darkslategrey;
}