body{
    background-image: url(diagmonds/diagmonds.png);
}
.navbar{
   justify-content: flex-start;
   font-family: Courier New, monospace;
    align-items: center;
    border-bottom: 5px solid #307986;
}
.navbar-brand{
    padding:5px;
}

.content{
    margin-top:30px;
    margin-bottom:30px;
    background-color: #307986;
    padding:40px;
    width:100%;
    color:white;
    font-family: Courier New, monospace;
    border-radius: 1%;
}

button{
    color:white;
    background-color:darkslategrey;
    border-radius: 5%;
}